@charset "utf-8";
/* HTML元素的样式 */
body,html {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #000000
}

a,button,input {
	-webkit-tap-highlight-color: transparent
}

.nes-intro {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.79)
}

.nes-controls,.nes-roms,.nes-status {
	position: absolute;
	z-index: 999;
	top: 50%;
	text-align: center;
	width: 100%
}

.nes-roms {
	top: 36%
}

.nes-roms select {
	height: 34px;
	font-size: 18px;
	width: 200px;
	background: grey
}

.nes-pause {
	display: none
}

.nes-status {
	top: 60%;
	color: #fff
}

.nes-controls input {
	height: 34px;
	background: grey;
	color: #ddd
}

.nes-show {
	position: absolute;
	right: 5px;
	top: 5px;
	opacity: .8;
	background-color: #f0ad4e;
	border-color: #eea236;
	color: #fff
}

#emulator {
	z-index: 5
}

#joystickContent {
	z-index: 4;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: .3;
	background: 0 0
}

#joystickCanvas {
	-webkit-touch-callout: none
}

.ctrl-start {
	position: absolute;
	bottom: 150px;
	left: 50%;
	margin-left: 0;
	height: 30px;
	width: 45px;
	background-color: #337ab7;
	border-color: #2e6da4;
	color: #fff;
	border-radius: 10px
}

.ctrl-select {
	position: absolute;
	bottom: 150px;
	left: 50%;
	margin-left: 100px;
	height: 30px;
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
	border-radius: 10px;
	width: 45px;
	padding-left: 5px
}

.ctrl-btnA {
	position: absolute;
	bottom: 70px;
	right: 110px;
	width: 60px;
	height: 60px;
	background: url(button.png);
	background-size: 100%;
	border: none;
	color: #fff;
	text-align: center;
	line-height: 65px
}

.ctrl-btn-down,.ctrl-btn-left,.ctrl-btn-right,.ctrl-btn-up {
	width: 65px;
	height: 65px;
	background: #ccc;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 65px
}

.ctrl-btn-up {
	position: absolute;
	left: 50px;
	bottom: 115px
}

.ctrl-btn-down {
	position: absolute;
	left: 50px;
	bottom: 10px
}

.ctrl-btn-left {
	position: absolute;
	left: 0;
	bottom: 65px
}

.ctrl-btn-right {
	position: absolute;
	left: 100px;
	bottom: 65px
}

.ctrl-btnAA {
	position: absolute;
	bottom: 70px;
	right: 110px;
	width: 60px;
	height: 60px;
	background: url(button.png);
	background-size: 100%;
	border: none;
	color: #fff;
	text-align: center;
	line-height: 65px
}

.ctrl-btnAA {
	bottom: 0
}

.ctrl-btnB,.ctrl-btnBB {
	position: absolute;
	bottom: 70px;
	right: 0;
	background: url(button.png);
	width: 60px;
	height: 60px;
	background-size: 100%;
	border: none;
	color: #fff;
	text-align: center;
	line-height: 65px
}

.ctrl-btnBB {
	bottom: 0
}

.ctrl-btnAABB,.ctrl-btnAB {
	position: absolute;
	bottom: 0;
	right: 55px;
	background: url(button.png);
	width: 60px;
	height: 60px;
	background-size: 100%;
	border: none;
	color: #fff;
	text-align: center;
	line-height: 65px
}

.ctrl-btnAABB {
	bottom: 70px
}

.alipay,.weixin {
	width: 100px;
	height: 100px;
	z-index: 999;
	position: absolute
}

.weixin {
	left: 0;
	top: 50px
}

.alipay {
	right: 0;
	top: 50px
}

.pay-tips {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-size: 16px;
	font-weight: initial;
	color: #ccc
}

a {
	color: #ccc
}

.pay-tips svg {
	width: 60px;
	display: inline-block;
	vertical-align: middle
}